* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header {
  
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    background-color: transparent;
    border: 0px solid black;
    overflow: hidden;
   
}
.logo-img{

    background-color: #2575fc;
}


.header .logo-img {
    position: absolute;
    height: 95px;
    top: 0;
    left: 0;
    width: 130px;
    background-image: url(/output/image/rnr.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    font-size: 2rem;
    color: black;
    size: 10px;
    


}


.nav{
    display: inline;
    margin-right: 0px;
    overflow: hidden;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


@media (max-width: 770px) {
    .menu-toggle {
        display: block; 
    }

    .navigation {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #f0ebeb;
        text-align: center;
        padding: 10px 0;
    }

    .navigation.active {
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-right: 2em;
        background-color: aqua;
    }
    .navigation a.one {
        display: block; /* Ensure links are block elements */
        width: 100%;
        color: white;
    }

    .navigation a.one::after {
        width: 50%; /* Make underline shorter in mobile view */
        margin: auto; /* Center the underline */
    }
    .navigation a {
        display: block;
        padding: 12px;
        width: 100%;
    }
} 







.div-box {
    position: relative;
    min-height: 100vh;
    width: 100%;
    top: 130px;
    height: auto;
    align-items: center;
    flex-direction: column;
    color: black;
    


}

.home_img {
    position: relative;
    width: 100%;
    height: 600px;
    object-fit: cover;
    background-size: cover;
    border-radius: 29px;
    color: aliceblue;
    text-align: center;
    background-size: cover;
    /* background-image: url(../image/4-modern-dark-luxury-industrial-house-with-metal-facade-1.webp); */
    background-position: center;
    transition: all .4s ease;


}

.home_img h1 {
    position: absolute;
    width: 600px;
    height: 500px;
    margin-top: -10px;
    justify-content: center;
    margin-left: 100px;
    text-align: left;
    top: 200px;
    font-size: 52px;
    color: #2575fc;
    color: aliceblue;
    font-size: 48px;


}

.home_img p {
    position: absolute;
    margin-top: 400px;
    margin-left: 70px;
    height: 200px;
    right: 0;
    width: 400px;
    color: #2575fc;
    color: aliceblue;
    border-radius: 20px;
    font-size: 18px;

}

.home_img img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    background-size: cover;
    border-radius: 29px;
    background-position: center;
    object-fit: cover;


}


/* .home_img .imagetext{
   position: relative;

}


.home_img .imagetext h1{
   position: absolute;
   width: 600px;
   height: 500px;
   margin-top:200px;
   margin-left: 100px;
   text-align: left;
   font-size: 52px;
   color: #2575fc;
  color: aliceblue;
   font-size: 48px;
}
.home_img .imagetext p{
   position: relative;
   margin-top: 400px;
   margin-left: 800px;
    height: 200px;
    width: 400px;
    display: inline-block;
    color: #2575fc;
    color: aliceblue;
    border-radius: 20px;
    font-size: 18px;
   
} */
.lists-card{
   position: relative;
   min-width: 100%;
   height: auto;
   margin-top: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: black;
   overflow-x: hidden;
   text-align: center;

}
.lists-card .heading{
   position: relative;
   margin-bottom: -30px;
   text-align: center;
   justify-content: center;
   

  

}
.lists-card .heading h1{
   position: absolute;
   font-size: 42px;
   white-space: nowrap;
    font-weight: 500;
    margin-left: -140px;
    text-align: center;
    height: auto;
    width: auto;

}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    height: inherit;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    flex-direction: row;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    /* background-color: #2575fc; */

}

.container .card {
    position:relative;
    width: 350px;
    height: 320px;
    display: flex;
    margin: 70px 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.14);
    padding: 30px;
    flex-direction: column;
    box-sizing: border-box;
    transition: 0.5s;
    /* background-color: aqua; */



}

.container .card:hover {
    cursor: pointer;
    height: 390px;

}

.container .card .image_box {
    position: absolute;
    width: 300px;
    top: 20px;
    height: 200px;
    background-color: black;
    border-radius: 20px;
    transition: 0.3s;
    overflow: hidden;


}

.container .card .image_box:hover {
    transform: scale(1.2);
}

.container .card:hover .image_box {
    top: -50px;
    scale: 0.8;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.4);
    border-radius: 20px;

}

.container .card .image_box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;

}

.container .card .image_box img:hover {
    transform: scale(1.2);
    cursor: pointer;

}

.container .card .contain {
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.3s;
}

.container .card:hover .contain {
    text-align: left;
    top: 190px;
    height: 250px;
}

.container .card .contain h2 {
    position: relative;
    font-size: 1.4em;
    font-family: 100;
    color: black;
    text-align: left;
    display: flex;
    overflow: hidden;

}

.container .card .contain p {
    position: relative;
    top: 15px;
    font-size: 1em;
    font-family: 100;
    color: black;
    text-align: left;
    display: flex;
    overflow: hidden;

}

.container .card .contain h4 {
    position: relative;
    top: 15px;
    font-size: 1.3em;
    font-family: 100;
    color: black;
    text-align: left;
    display: flex;

}

.container .card .contain a {
    position: relative;
    top: 10px;
    margin-top: -100px;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    background-color: rgb(117, 117, 245);
    border: 1px solid whitesmoke;
    border-radius: 12px;
}

.container .card .contain a:hover {
    background-color: rgb(106, 51, 255);
    color: rgb(29, 31, 31);
}

.container .card .submit_box {
    position: relative;
    color: blue;
    top: -10px;
    width: 100%;
    padding: 0 30px;
    height: 30px;
    margin-top: 25px;
    text-align: center;
    justify-content: center;
    transition: 0.3s;
}



.container .card:hover .submit_box {
    top: 10px;
    height: 40px;

}

/*responsive*/
@media (max-width:1100px) {
    .navigation {
        display:block;
        margin: 10px auto;
      

    }
    

    .navigation a{
        overflow: hidden;
    }


    .div-box {
        padding: 15px;
        margin: 10px auto;

    }

    .home_img p {
        font-size: 20px;
        height: auto;
        width: auto;

    }

    .home_img h1 {
        margin: 10px auto;
        font-size: 35px;
        width: auto;
        height: auto;
    }

    .container {
        flex-direction: row;
        width: 100%;
        padding: 5px;
        height: auto;
        display: flex;
        width: 100vw;
        background-color: white;
        white-space: wrap;
        flex-wrap: wrap;
        gap: 7px;

    }

    .container .card {
        align-items: flex-start;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        border-radius: 20px;
        box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.14);
        transition: 0.5s;
        min-width: 300px;
        background-color: rgb(246, 243, 240);
        margin: 20px auto;
        gap: 7px;

    }

    .section-room {
        margin: 10px auto;
        background: linear-gradient(135deg, #6a11cb, #2575fc);
    }

    .room-listings {
        position: relative;
        padding: 15px;
        margin: 10px auto;

    }

    .room-listings .heading {
        text-align: center;

    }

    .room-listings .heading h1 {
        font-size: 37px;
        
    }

    .roomlist {
        margin: 10px auto;
        display: flex;
    }

    .room-cards {
        align-items: flex-start;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 10px auto;
        gap: 5px;
        background-color: white;

    }
    .subscribe_form .input-form input {
       position: relative;
       width: auto;
       height: auto;
       border: 1px solid black;
       border-radius: 20px;
       font-size: 14px;
       font-family: 400;

    }
    
.room-cards .image-card .submit-bottom {
   position: relative;
    background-color: #6655fa;
    cursor: pointer;
}




}


@media (max-width:900px) {
    .navigation  {
        display: block;
        margin: 10px auto;
    }

    .menu-toggle {

        display: block;
        margin-right: 20px;

    }

    .header {
        display: none;
        overflow: initial;
       

    }

    .nav-link {
        position: absolute;
        /* display: none; */
    }

    .div-box {
        padding: 10px;
        margin: 5px auto;


    }

    .home_img p {
        font-size: 15px;
        height: auto;
        width: auto;
    }

    .home_img h1 {
        margin: 10px auto;
        font-size: 30px;
        width: auto;
        height: auto;
    }

    .container {
        flex-direction: row;
        width: 100%;
        padding: 15px;
        display: flex;
        gap: 5px;
        background-color: white;
    }

    .container .card {
        justify-content: center;
        align-items: flex-start;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 20px;
        box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.14);
        transition: 0.5s;
        min-width: 10px;
        background-color: rgb(235, 233, 234);
        margin: 5px auto;
        gap: 10px;


    }

    .room-listings {
        position: relative;
        padding: 15px;
        margin: 10px auto;

    }

    .room-listings .heading {
        text-align: center;

    }

    .room-listings .heading h1 {
        font-size: 30px;
    }

    .roomlist {
        margin: 8px auto;
        display: flex;
        width: 100%;
    }

    .room-cards {
        justify-content: center;
        align-items: flex-start;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 5px auto;
        background-color: rgb(235, 233, 234);

    }

    .section-room {
        margin: 10px auto;
        background: linear-gradient(135deg, #6a11cb, #2575fc);
    }
    .subscribe_form .input-form input {
       position: relative;
       width: auto;
       height: auto;
       border: 1px solid black;
       border-radius: 20px;
       font-size: 14px;
       font-family: 400;

    }
    
.room-cards .image-card .submit-bottom {
   position: relative;
    background-color: #6655fa;
    cursor: pointer;
}

}

/* room  list part   */

.room-listings {
    position: relative;
    min-width: 100%;
    height: auto;
    /* background-color: rgb(128, 9, 9); */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    overflow-x: hidden;

}

.room-listings .heading {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

.room-listings .heading h1 {
    position: relative;
    font-size: 40px;
    margin-top: 5px;
    font-weight: 300;
}


.roomlist {
    position: relative;
    min-width: 100%;
    height: auto;
    /* background-color: rgb(52, 36, 144); */
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    gap: 30px;

}

.room-cards {
    position: relative;
    justify-content: center;
    align-items: center;
    display: inline;
    margin-top: 20px;
    margin-left: 40px;
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(209, 204, 204);
    transition: 0.5s ease;


}

.room-cards .image-card {
    position: absolute;
    width: 250px;
    height: 150px;
    top: 0;
    background-color: black;
    border-radius: 20px 20px 0px 0px;
    transition: 0.7s ease;
    overflow: hidden;

}


.room-cards .image-card:hover {
    box-shadow: inset 10px 10px 30px 80px rgba(0, 0, 0, 0.14);
}

.image-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: cover;
    transition: 4s ease;
    overflow: hidden;
}

.image-card img:hover {
    box-shadow: inset 10px 10px 30px 80px rgba(0, 0, 0, 0.14);
}
.image-card p{
   position: absolute;
   left: 10px;
   height: 20;
   margin-top: 10px;
   width: 40px;
   border-radius: 5px;
   background-color: black;
   color: white;
}

.room-cards .image-card .submit-bottom {
    position: absolute;
    margin-top: 150px;
    height: 30px;
    width: 60px;
    background-color: rgb(84, 88, 205);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    transition: 0.4s ease;
    overflow: hidden;

}

.room-cards .image-card .submit-bottom:hover {
    background-color: rgb(36, 41, 183);
}

.room-cards .image-card .submit-bottom h2 {
    font-size: 19px;
    font-weight: 300;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.room-cards:hover {
    transform: scale(0.9);
    cursor: pointer;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.4);
}

.image-card a {
    position: relative;
    text-decoration: none;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.4);

}

.room-cards .image-card:hover .submit-bottom {
    position: relative;
    top: -50px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.4);

}

.room-cards .image-text {
    position: absolute;
    margin-top: 200px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    text-align: center;
    justify-content: center;
    transition: 0.3s;
}

.image-text h2 {
    position: absolute;
    top: -50px;
    left: 0;
    flex-wrap: nowrap;
    font-size: 22px;
    white-space: nowrap;
    text-align: left;
}

.image-text p {
    position: absolute;
    font-size: 20px;
    text-align: left;
    left: 10px;
    margin-top: 25px;
}

.room-cards .rate {
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    background-color: crimson;
}

.image-text .rate p {
    position: absolute;
    font-size: 16px;
    font-weight: 300;
    white-space: nowrap;
    color: crimson;


}





.section-room {
    position: relative;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    padding: 80px 20px;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    height: auto;
    margin-top: 10px;
    width: 97%;
}

.section-room h1 {
    position: relative;
    font-size: 48px;
    top: -10px;
    height: auto;
    width: auto;
    margin-bottom: 10px;
}

.section-room p {
    position: relative;
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

}

.subscribe_form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    height: auto;
    width: 100%;

}


.subscribe_form .input-form input {
    position: relative;
    padding: 10px;
    width: 300px;
    height: auto;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 16px;
    font-family: 400;
}

.subscribe_form .submit-form button {
    position: relative;
    background-color: #6655fa;
    padding: 10px 20px;
    color: rgb(11, 11, 11);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.subscribe_form .submit-form button:hover {
    color: aliceblue;
    background-color: #030364;

}

@media(max-width:1200px) {
    .section-room{
        position: relative;
        width: 100%;
        height: auto;
        margin: 10px auto;

    }
    .section-room h1{
        font-size:47px ;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .section-room p {
         font-size:17px ;
         margin-left: auto;
         margin-right: auto;
    }
    .subscribe_form  {
        position: relative;
        padding: auto;
          margin:auto;
          width: auto;
          height: auto;
    }
    .subscribe_form .input-form input, .subscribe_form .submit-form button {
        position: relative;
        width: auto;
        height: auto;
        margin: auto;
    }
}

@media (max-width:1100px) {
    .subscribe_form  {
        position: relative;
        padding: auto;
          margin:auto;
          width: auto;
          height: auto;
    }
    .subscribe_form .input-form input, .subscribe_form .submit-form button {
        position: relative;
        width: auto;
        height: auto;
        margin: auto;
    }

}

@media (max-width:900px) {
   
    .subscribe_form  {
        position: relative;
        padding: auto;
          margin:auto;
          width: auto;
          height: auto;
    }
    .subscribe_form .input-form input, .subscribe_form .submit-form button {
        position: relative;
        width: auto;
        height: auto;
        margin: auto;
    }
}

.footer-container {
    position: relative;
    background-color: rgb(155, 153, 153);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    width: 100vw;
    margin-top: 20px;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}

.about_page {
    position: relative;
    min-height: 250px;
    width: 300px;
    padding: 30px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: antiquewhite; */
    margin: 10px;
    box-sizing: border-box;
    text-align: left;


}

.about_page h2 {
    position: relative;
    color: rgb(219, 212, 212);
    text-align: left;
    padding-left: 5px;
    white-space: nowrap;
}

.about_page p {
    position: relative;
    font-size: 15px;
    transition: 0.9s;

}

.contact {
    position: relative;
    min-height: 250px;
    width: 300px;
    padding: 20px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); */
    box-sizing: border-box;
    text-align: left;
    transform: translatex(-10px);
    transition: 0.8s;


}

.contact h3 {
    position: relative;
    color: rgb(228, 228, 228);
    text-align: left;
    padding-left: 5px;
    font-size: 1.5em;
    white-space: nowrap;
}

.contact .infobox div {
    position: relative;
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    top: 10px;


}

.contact .infobox div span {
    position: relative;
    min-width: 30px;
    height: 30px;
    color: rgb(10, 60, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    border-radius: 50%;
    margin-left: 10px;
}

.contact .infobox div p {
    position: relative;
    color: black;
    font-size: 1.1em;
}

.contact .infobox div a {
    position: relative;
    color: black;
    font-size: 1em;
    text-decoration: none;

}

.quick_link {
    position: relative;
    min-height: 250px;
    width: 200px;
    padding: 10px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); */
    box-sizing: border-box;
    text-align: left;
    transition: 0.8s;

}

.quick_link h2 {
    position: relative;
    color: rgb(232, 223, 223);
    text-align: left;
    top: 10px;
    padding-left: 5px;
    font-size: 1.5em;
    white-space: nowrap;

}

.quick_link li {
    position: relative;
    list-style-type: none;
    padding: 5px;

}

.quick_link a {
    position: relative;
    color: rgb(35, 1, 1);
    text-decoration: none;

}

.follow_us {
    position: relative;
    min-height: 250px;
    width: 300px;
    padding: 10px;
    border-radius: 14px;
    display: flex;

    flex-direction: column;

    margin: 10px;
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); */
    box-sizing: border-box;
    text-align: left;
    transition: 0.8s;


}

.follow_us h2 {
    position: relative;
    color: rgb(245, 236, 236);
    text-align: left;
    top: 10px;
    padding-left: 5px;
    font-size: 1.5em;
    white-space: nowrap;

}

.follow_us .row {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    /* top: -40px; */
    padding: 10px;
    gap: 25px;
    margin-top: 10px;
    font-size: 25px;



}

@media(max-width:1200px) {
    .footer-container {
        margin: 10px auto;
        width: 100vw;
        overflow-x: hidden;
    }
}

@media (max-width:1100px) {
    .footer-container {
        position: relative;
        width: 100vw;
        margin: 10px auto;
        overflow-x: hidden;
    }

}

@media (max-width:900px) {
    .footer-container {
        position: relative;
        width: 100vw;
     
        margin: 10px auto;

    }
}



.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


@media (max-width: 770px) {
    .menu-toggle {
        display: block; 
    }

    .navigation {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        padding: 10px 0;
    }

    .navigation.active {
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-right: 2em;
        background-color: aqua;
    }
    .navigation a.one {
        display: block; /* Ensure links are block elements */
        width: 100%;
        color: white;
    }

    .navigation a.one::after {
        width: 50%; /* Make underline shorter in mobile view */
        margin: auto; /* Center the underline */
    }
    .navigation a {
        display: block;
        padding: 12px;
        width: 100%;
    }
} 


/* .container{
   position: absolute;
   display: flex;
   justify-content: center;
   border: 2px solid black;
   text-align: center;
   gap: 10px 50px;
   padding: 10px 50px;

} */

/*.inner_container{
   position:relative;
   height: 400px;
   width: 100vw;
   border: 3px solid black;
background-color: brown;
   margin-top: px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 70px;
  
}

.container .one{
   position: relative;
   top: 200px;
   margin-top: 100px;
   padding-top: 100px;
   left: -10px;
   width: 250px;
   height: 300px;
   border-radius: 25px;
   transition: all .5s ease;
   /* transition: 0.4s; */
/* overflow: hidden; */

/* } */
/* .container .one:hover{
   top: -50px;
   scale: 0.8; 
  box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.4);
 
} */
/* .container .one:active{
   transform: scale(.9);
} */
/* .container .one.o{
   background-position: center;
   background-size: cover;
   height: 300px;
   width: 300px;
   background-image: url(/output/image/kantipur.jpg);
} */
/* .container .one.two{
   background-position: center;
   background-size: cover;
   background-image:url(/output/image/b.png) ;
} */
/* .container .one.three{
   background-position: center;
   background-size: cover;
   
   background-image:url(/output/image/ktm.jpg) ;
} */



/* 
.container .one.four{
   background-position: center;
   background-size: cover;
   background-image: url(/output/image/balaju.jpg);
}
.container .one.five{
   background-position: center;
   background-size: cover;
   background-image:url(/output/image/house.jpg) ;
}
  
.container .one.six{
   background-position: center;
   background-size: cover;
   background-image:url(/output/image/firsthouse.jpg) ;
} */

/* .container a{
   text-decoration: none;
   color: black;
   

}
.container p{
   position: relative;
   top: 90%;
   text-align: center;
}

.a, .b{
   display: flex;
   gap: 60px;
}
body{
   background-image:none;
   
}  */


/*paxi ko */